.btn {
    background: linear-gradient(90deg, rgba(180, 131, 58, 0.9472163865546218) 0%, rgba(253, 209, 29, 1) 99%, rgba(252, 176, 69, 1) 100%);
    color: #fff;
    font-weight: 600;
    padding: 0.4rem 1rem;
    border-radius: 10px;
    box-shadow: 0 6px 5px rgb(165, 165, 39);
    cursor: pointer;
}
.joinCommunityText{
    color: #e99637;
    font-weight: 600;
    cursor: pointer;
    text-transform: capitalize;
}