.card {
    width: 30rem;
    height: 60vh;
    background: linear-gradient(180deg, #2c1e19, #25200f);
    border-radius: 10px;
}

.image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.bgcolor {
    background: linear-gradient(90deg, rgba(172, 61, 10, 0.947) 0%,
            rgb(226, 116, 26) 70%,
            rgb(243, 198, 115) 100%);
}