.link {
    text-decoration: none;
    color: rgb(224, 202, 22);
    font-weight: 600;
    transition: all .2s;
}


.link:hover,
.link:active {
    color: rgb(126, 128, 18);

}

.active {
    background: linear-gradient(90deg, #f9572a, #ff8a05);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}